.small-card{
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  & img {
    object-fit: cover;
    width: 100%;
    flex-basis: 40% ;
  }
  h2{
    align-self: flex-start;
    flex-basis: 59%;
  }
  p{
    align-self: end;
    position: absolute;
    width: 58%;
    right: 0%;
    top: 40%;
  }
  a{
    text-decoration: none;
    color: var(--text-color);
  }
}
