<section class="cards">
  <article id="card-big" class="card-article">
    <img src="{{cardImg}}" class="card-img" alt="1" />
    <h2 class="card-title"><a href="#" class="card-link">{{cardTitle}}</a></h2>
    <p class="card-description"><a href="#" class="card-link">{{cardDescription}} </a></p>
  </article>
  <article class="card-article card-small">
    <img src="{{cardImg}}" class="card-img" alt="1" />
    <h2 class="card-title"><a href="#" class="card-link">{{cardTitle}}</a></h2>
    <p class="card-description"><a href="#" class="card-link">{{cardDescription}} </a></p>
  </article>
  <article class="card-article card-small">
    <img src="{{cardImg}}" class="card-img" alt="1" />
    <h2 class="card-title"><a href="#" class="card-link">{{cardTitle}}</a></h2>
    <p class="card-description"><a href="#" class="card-link">{{cardDescription}} </a></p>
  </article>
  <article class="card-article card-small">
    <img src="{{cardImg}}" class="card-img" alt="1" />
    <h2 class="card-title"><a href="#" class="card-link">{{cardTitle}}</a></h2>
    <p class="card-description"><a href="#" class="card-link">{{cardDescription}} </a></p>
  </article>
</section>
